<?xml version="1.0" encoding="utf-8"?>
<varlist name="MaterialInfo">
	<string name="FileVer">1.0</string>
	<string name="MaterialName">Spring Desertworld (FA)_Cliff face</string>
	<varlist name="ColMod">
		<bool name="Enabled">false</bool>
		<float name="r">1.000000</float>
		<float name="g">1.000000</float>
		<float name="b">1.000000</float>
	</varlist>
	<varlist name="Strata">
		<bool name="Enabled">true</bool>
		<string name="FileName">desert26\SandStrata1.png</string>
		<float name="VertScale">1.000000</float>
		<float name="Strength">1.000000</float>
	</varlist>
	<varlist name="BumpMap">
		<bool name="Enabled">true</bool>
		<float name="Strength">2.500000</float>
	</varlist>
	<varlist name="TextureLayers">
		<varlist>
			<int name="LayerRes">1</int>
			<varlist name="Texture">
				<string name="FileName">Spring common\rock3.jpg</string>
				<float name="Weight">0.200000</float>
				<string name="BlendMode">ADD</string>
			</varlist>
			<varlist name="BumpMap">
				<string name="FileName">Spring common\rock3_bump.jpg</string>
				<float name="Weight">0.200000</float>
			</varlist>
			<varlist name="ColMod">
				<bool name="Enabled">false</bool>
				<float name="r">1.000000</float>
				<float name="g">1.000000</float>
				<float name="b">1.000000</float>
			</varlist>
		</varlist>
		<varlist>
			<int name="LayerRes">4</int>
			<varlist name="Texture">
				<string name="FileName">Spring common\rock3.jpg</string>
				<float name="Weight">0.300000</float>
				<string name="BlendMode">ADD</string>
			</varlist>
			<varlist name="BumpMap">
				<string name="FileName">Spring common\rock3_bump.jpg</string>
				<float name="Weight">0.300000</float>
			</varlist>
			<varlist name="ColMod">
				<bool name="Enabled">false</bool>
				<float name="r">1.000000</float>
				<float name="g">1.000000</float>
				<float name="b">1.000000</float>
			</varlist>
		</varlist>
		<varlist>
			<int name="LayerRes">1</int>
			<bool name="UseTexRes">true</bool>
			<varlist name="Texture">
				<string name="FileName">Spring common\rock3.jpg</string>
				<float name="Weight">0.500000</float>
				<string name="BlendMode">ADD</string>
			</varlist>
			<varlist name="BumpMap">
				<string name="FileName">Spring common\rock3_bump.jpg</string>
				<float name="Weight">0.500000</float>
			</varlist>
			<varlist name="ColMod">
				<bool name="Enabled">false</bool>
				<float name="r">1.000000</float>
				<float name="g">1.000000</float>
				<float name="b">1.000000</float>
			</varlist>
		</varlist>
	</varlist>
</varlist>
