[submodule "Source Code/Libs/ChaiScript"]
	path = Source Code/Libs/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript
[submodule "Source Code/Libs/EASTL"]
	path = Source Code/Libs/EASTL
	url = https://github.com/electronicarts/EASTL
[submodule "Source Code/Libs/EABase"]
	path = Source Code/Libs/EABase
	url = https://github.com/electronicarts/EABase
[submodule "Source Code/Libs/EAStdC"]
	path = Source Code/Libs/EAStdC
	url = https://github.com/electronicarts/EAStdC
[submodule "Source Code/Libs/fmt"]
	path = Source Code/Libs/fmt
	url = https://github.com/fmtlib/fmt
[submodule "Source Code/Libs/meshoptimizer"]
	path = Source Code/Libs/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "Source Code/Libs/Optick"]
	path = Source Code/Libs/Optick
	url = https://github.com/bombomby/optick
[submodule "Source Code/Libs/ConcurrentQueue"]
	path = Source Code/Libs/ConcurrentQueue
	url = https://github.com/cameron314/concurrentqueue
