[submodule "Source Code/Libs/ChaiScript"]
	path = Source Code/Libs/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript
[submodule "Source Code/Libs/EASTL"]
	path = Source Code/Libs/EASTL
	url = https://github.com/electronicarts/EASTL
[submodule "Source Code/Libs/EABase"]
	path = Source Code/Libs/EABase
	url = https://github.com/electronicarts/EABase
[submodule "Source Code/Libs/EAStdC"]
	path = Source Code/Libs/EAStdC
	url = https://github.com/electronicarts/EAStdC
[submodule "Source Code/Libs/fmt"]
	path = Source Code/Libs/fmt
	url = https://github.com/fmtlib/fmt
[submodule "Source Code/Libs/meshoptimizer"]
	path = Source Code/Libs/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "Source Code/Libs/Optick"]
	path = Source Code/Libs/Optick
	url = https://github.com/bombomby/optick
[submodule "Source Code/Libs/ConcurrentQueue"]
	path = Source Code/Libs/ConcurrentQueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "Source Code/Libs/CPPGoap"]
	path = Source Code/Libs/CPPGoap
	url = https://github.com/cpowell/cppGOAP
[submodule "Source Code/Libs/MemoryPool"]
	path = Source Code/Libs/MemoryPool
	url = https://github.com/cacay/MemoryPool
[submodule "Source Code/Libs/ReCast"]
	path = Source Code/Libs/ReCast
	url = https://github.com/recastnavigation/recastnavigation
[submodule "Source Code/Libs/simplefilewatcher"]
	path = Source Code/Libs/simplefilewatcher
	url = https://github.com/jameswynn/simplefilewatcher
[submodule "Source Code/Libs/SimpleINI"]
	path = Source Code/Libs/SimpleINI
	url = https://github.com/brofield/simpleini
[submodule "Source Code/Libs/skarupke"]
	path = Source Code/Libs/skarupke
	url = https://github.com/skarupke/flat_hash_map
