<!-- DEBUG: General purpose settings needed while the application is loading -->
<debug>
	<!-- showPhysXErrors: Should the nVidia PhysX engine print warnings/errors in the log file? -->
    <showPhysXErrors>true</showPhysXErrors>
	<!-- logFile / memFile: file names that the application should use to write output / memory allocation info -->
	<!-- leave empty for none! -->
	<logFile>console.log</logFile>
	<memFile>mem.log</memFile>
</debug>

<language>enGB</language>

<!-- RUNTIME: Values use by the application after loading is complete -->
<runtime>
	<!-- This value sets the y-position (height) of the "safety-net" for PhysX actors -->
	<groundPos>-100</groundPos>
	<!-- PhysX simulation speed multiplier. Tweak this for faster or slower simulations (ex: slow motion explosions)-->
	<simSpeed>0.0</simSpeed>
	<resolutionWidth>1280</resolutionWidth>
	<resolutionHeight>720</resolutionHeight>
	<windowedMode>true</windowedMode>
	<allowWindowResize>false</allowWindowResize>
	<enableVSync>true</enableVSync>
	<zNear>0.25</zNear>
	<zFar>500.0</zFar>
	<verticalFOV>60</verticalFOV>
</runtime>	

<GUI>
	<CEGUI>
		<ExtraStates>false</ExtraStates>
		<SkipRendering>false</SkipRendering>
	</CEGUI>
	<defaultGUIScheme>GWEN</defaultGUIScheme>
	<consoleLayoutFile>console.layout</consoleLayoutFile>
	<editorLayoutFile>editor.layout</editorLayoutFile>
</GUI>

<rendering>
	<!-- detail level: low = 0, medium = 1, high = 2 -->
	<detailLevel>2</detailLevel>
	<FXAAsamples>0</FXAAsamples>
	<MSAAsamples>0</MSAAsamples>
	<anisotropicFilteringLevel>8</anisotropicFilteringLevel>
	<!-- detail level: off = 0, low = 1 (no blurring, 512x512 base resolution), medium = 2 (blurring, 512x512 base resolution) -->
	<!--               high = 3 (blurring, 1024x1024 base resolution), ultra = 4 (blurring, 2048x2048 base resolution) -->
	<shadowDetailLevel>0</shadowDetailLevel>
	<enableFog>false</enableFog>
	<fogDensity>0.0040</fogDensity>
	<fogColor r="0.5" g="0.5" b="0.55"/>
	<enablePostFX>false</enablePostFX>
	<enable3D>false</enable3D>
	<anaglyphOffset>0.16</anaglyphOffset>
	<enableNoise>false</enableNoise>
	<enableDepthOfField>false</enableDepthOfField>
	<enableBloom>true</enableBloom>
	<bloomFactor>0.8</bloomFactor>
	<enableSSAO>false</enableSSAO>
</rendering>
    
<mesh>
	<playAnimations>true</playAnimations>
</mesh>

<title>DIVIDE Framework - (C) Ionut Cava 2014</title>
<defaultTextureLocation>textures</defaultTextureLocation>
<defaultShadersLocation>shaders</defaultShadersLocation>